---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 79
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: false
IncludeBlocks: Preserve
NamespaceIndentation: All
IndentCaseLabels: true
Cpp11BracedListStyle: true
ReflowComments: true
